/* color palette from <https://github.com/vuejs/theme> */
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  height: 100%;
  color: rgb(255 255 255 / 84%);
  background: #181818;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "Poppins", "Karla", sans-serif !important;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  all: unset;
  cursor: pointer;
  font-family: "Poppins", "Karla" !important;
}
